.form__field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: max-content;
  height: 90px;
}

.form__input {
  margin-bottom: 8px;
  width: 250px;
  height: 28px;
  box-sizing: border-box;
}

.form__label {
  margin-bottom: 8px;
}

.form__row {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
